<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Classificador de Linguagem de Programação</title>
    
    
</head>
<body>
    <div class="container">
        <h2>Code-ia</h2>
         <p>O modelo pode apresentar falhas nas previsões</p>
          
        <div class="result" id="result"></div>
         <div class="input-section">
         <textarea id="code" placeholder="Cole seu código aqui..."></textarea>
         <button onclick="PrevisaoLinguagem()">Verificar</button>
        </div>
    </div>

    <script>
        async function PrevisaoLinguagem() {
            const code = document.getElementById("code").value.trim();
            const resultDiv = document.getElementById("result");
          resultDiv.innerHTML = `
         <div class="typing">
          <span>Digitando</span>
           <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
         </div>
        `;


            if (!code) {
                resultDiv.textContent = "Por favor, insira algum código.";
                return;
            }

            try {
                const response = await fetch("/predict", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ code })
                });

                if (!response.ok) {
                    const text = await response.text();
                    console.error("Erro do servidor:", text);
                    resultDiv.textContent = "Erro ao conectar com o servidor.";
                    return;
                }

                const data = await response.json();
                if (data.best_prediction) {
                    resultDiv.textContent = "Linguagem prevista: " + data.best_prediction;
                } else if (data.error) {
                    resultDiv.textContent = "Erro: " + data.error;
                } else {
                    resultDiv.textContent = "Erro ao tentar prever a linguagem.";
                }
            } catch (err) {
                console.error("Erro:", err);
                resultDiv.textContent = "Erro na comunicação com o servidor.";
            }
        }
    </script>
</body>
</html>
